<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Movie Catalog</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Oswald:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <header>

    <h1><a href="/movies">The Movie Catalog</a></h1>

    <h2>
      <form action="/movies" method="get">
        <input type="text" name="query" id="query" />
        <input type="submit" value="Search" />
      </form>

    </h2>

  </header>

  <ul>
    <% @movies.each do |movie| %>
      <li><a href="<%= url("movies/#{movie[0]}") %>"><%= movie[1] %> (<%= movie[2] %>)</a>: <strong><%= movie[3] %>% - <%= movie[4] %></strong> <span class="studio"><%= movie[5] %></span></li>
    <% end %>
  </ul>

  <div class="nav">
      <% if @order == "year" %>
        <a href="<%= url("movies?order=year&page=#{@page - 1}") %>">Previous 20</a> |
        <a href="<%= url("movies?order=year&page=#{@page + 1}") %>">Next 20</a> --
      <% elsif @order == "rating" %>
        <a href="<%= url("movies?order=rating&page=#{@page - 1}") %>">Previous 20</a> |
        <a href="<%= url("movies?order=rating&page=#{@page + 1}") %>">Next 20</a> --
      <% else %>
        <a href="<%= url("movies?page=#{@page - 1}") %>">Prev 20</a> |
        <a href="<%= url("movies?page=#{@page + 1}") %>">Next 20</a> --
      <% end %>

      <a href="<%= url("movies?order=rating&page=#{@page}") %>">Sort By Rating</a> | <a href="<%= url("movies?order=year&page=#{@page}") %>">Sort By Year</a>| <a href="/actors">Actors List</a>
    </div>

</body>
</html>
